---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<section>
		<div class="grid">
			<div id="start" style="grid-row: 7; grid-column: 2;"></div>
			<div id="end" style="grid-row: 3; grid-column: 7;"></div>
		</div>
	</section>

	<section id="result"></section>

	<section>
		<div class="angle"></div>
		<div class="angle"></div>
		<div class="angle"></div>
		<div class="angle"></div>
		<div class="angle"></div>
		<div class="angle"></div>
		<div class="angle"></div>
	</section>
</Layout>

<script>
	import { Path, Svg } from "pathcrafter"

	/*
		Path.xy(400, 50)
		Path.distance("#path1", "#path2")
		Path.edgePoint("#path1")

		Kit.xy(400,500)

		getElementEdgePoint("#path1", "top", 50)
	*/

	const path1 = new Path({ x: 400, y: 50 }, { id: "test" })
		.addHorizontal(400)
		.addVertical(50)
		.addHorizontal(50, "xd")
		.addVertical(50)
		.addHorizontal(50)
		.addVertical(50)
		.addDiagonal({ x: -500, y: 500 })

	const path2 = path1.createParallel(10)

	const path3 = path1
		.createParallel(-10)
		.createPartial("xd")
		.addDiagonal({ x: 50, y: -50 })

	new Svg([path1, path2, path3])

	/*
	const group = document.querySelector("#test")

	// <circle cx="50" cy="50" r="50" />
	// <rect width="100" height="100" />
	const circle = document.createElementNS(
		"http://www.w3.org/2000/svg",
		"circle",
	)
	circle.setAttribute("cx", "400")
	circle.setAttribute("cy", "50")
	circle.setAttribute("r", "2")
	circle.setAttribute("fill", "black")

	const rect = document.createElementNS("http://www.w3.org/2000/svg", "rect")
	rect.setAttribute("width", "2")
	rect.setAttribute("height", "2")
	rect.setAttribute("x", "401")
	rect.setAttribute("y", "49")

	group?.append(rect)
	*/

	/*
		______animation______

		const path = document.querySelector("#pathId")
		const pathLength = path?.getTotalLength()

		path?.style.strokeDasharray = `${pathLength} ${pathLength}`
		path?.style.strokeDashoffset = pathLength

		window.addEventListener("scroll", () => {
			const scrollPct = document.documentElement.scrollTop...

			const drawLength = pathLength * scrollPct

			path?.style.strokeDashoffset = pathLength - drawLength
		})
	*/
</script>

<style>
	.grid {
		width: fit-content;
		box-shadow: 0 0 0 1px black;
		margin: 2rem;
		display: grid;
		grid-template: repeat(10, 40px) / repeat(10, 40px);
	}

	#start {
		background: lightgreen;
	}

	#end {
		background: salmon;
	}

	#result {
		margin: 2rem;
	}
	#result > svg {
		display: block;
		box-shadow: 0 0 0 1px black;
	}
	.angle {
		height: 50px;
		width: 50px;
		margin: 5px;
	}

	.angle:nth-child(1) {
		background: linear-gradient(0deg, darkslategray 50%, orangered 50%);
	}
	.angle:nth-child(2) {
		background: linear-gradient(15deg, darkslategray 50%, orangered 50%);
	}
	.angle:nth-child(3) {
		background: linear-gradient(30deg, darkslategray 50%, orangered 50%);
	}
	.angle:nth-child(4) {
		background: linear-gradient(45deg, darkslategray 50%, orangered 50%);
	}
	.angle:nth-child(5) {
		background: linear-gradient(60deg, darkslategray 50%, orangered 50%);
	}
	.angle:nth-child(6) {
		background: linear-gradient(75deg, darkslategray 50%, orangered 50%);
	}
	.angle:nth-child(7) {
		background: linear-gradient(90deg, darkslategray 50%, orangered 50%);
	}
</style>
