---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<section>
		<div class="grid">
			<div id="start" style="grid-row: 7; grid-column: 2;"></div>
			<div id="end" style="grid-row: 3; grid-column: 7;"></div>
		</div>
	</section>

	<section id="result"></section>

	<section>
		<div class="angle"></div>
		<div class="angle"></div>
		<div class="angle"></div>
		<div class="angle"></div>
		<div class="angle"></div>
		<div class="angle"></div>
		<div class="angle"></div>
	</section>
</Layout>

<script>
	import { Svg } from "pathcrafter"

	new Svg()

	// const path = new Path()
	// 	.start({ x: 0, y: 0 })
	// 	.vertical(1)
	// 	.horizontal(25)
	// 	.cubic({ x: 50, y: 50 }, { x: 50, y: 0 }, { x: -50, y: 0 })
	// 	.horizontal(25)
	// 	.quadratic({ x: 50, y: 50 }, { x: 50, y: 0 })
	// 	.vertical(50)
	// 	.diagonal({ x: 50, y: 50 })
	// 	.diagonal({ x: 50, y: -50 })
	// 	.vertical(-50)

	// const path = new Path().start({ x: 10, y: 10 }).horizontal(50)

	// console.log(path.internals.getParallelStart(5)())

	// const svg = document.createElementNS("http://www.w3.org/2000/svg", "svg")
	// svg.setAttribute("id", "svg")
	// svg.setAttribute("width", "502") // 500 + borderWidth * 0.5
	// svg.setAttribute("height", "502")
	// svg.setAttribute("viewBox", "-1 -1 502 502") // -borderWidth * 0.5
	// svg.append(path.updateElement())

	// document.querySelector("#result")?.append(svg)
</script>

<style>
	.grid {
		width: fit-content;
		box-shadow: 0 0 0 1px black;
		margin: 2rem;
		display: grid;
		grid-template: repeat(10, 40px) / repeat(10, 40px);
	}

	#start {
		background: lightgreen;
	}

	#end {
		background: salmon;
	}

	#result {
		margin: 2rem;
	}
	#result > svg {
		display: block;
		box-shadow: 0 0 0 1px black;
	}
	.angle {
		height: 50px;
		width: 50px;
		margin: 5px;
	}

	.angle:nth-child(1) {
		background: linear-gradient(0deg, darkslategray 50%, orangered 50%);
	}
	.angle:nth-child(2) {
		background: linear-gradient(15deg, darkslategray 50%, orangered 50%);
	}
	.angle:nth-child(3) {
		background: linear-gradient(30deg, darkslategray 50%, orangered 50%);
	}
	.angle:nth-child(4) {
		background: linear-gradient(45deg, darkslategray 50%, orangered 50%);
	}
	.angle:nth-child(5) {
		background: linear-gradient(60deg, darkslategray 50%, orangered 50%);
	}
	.angle:nth-child(6) {
		background: linear-gradient(75deg, darkslategray 50%, orangered 50%);
	}
	.angle:nth-child(7) {
		background: linear-gradient(90deg, darkslategray 50%, orangered 50%);
	}
</style>
